<script>
    function adjustFontSize() {
        const canvas = document.getElementById('cnv');
        const container = document.getElementById('textParent');
        canvas.width = document.documentElement.clientWidth;
        canvas.height = document.documentElement.clientHeight - 128;
        if (document.fullscreenElement != undefined && document.fullscreenElement != null) {
            console.log(document.fullscreenElement);
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }
    }

    this.OnResizeContainer = function () {
        adjustFontSize();
        console.log(this.OnNextDraw)
    }

    this.OnUpdateContent = function () {
        adjustFontSize();
    }

    this.SetViewData = function (data) {
        this.OnUpdateContent();
    }


    this.animationIsStarted = false;

    this.StartAnimation = function (data) {
        if (this.OnDraw != undefined && this.OnDraw != null && animationIsStarted == false) {
            requestAnimationFrame(this.OnDraw);
            animationIsStarted = true;
        }
    }

    setInterval(this.StartAnimation, 100);
</script>