<script>
    function getTextSize(text, fontSize, fontFamily) {
        let hiddenDiv = document.createElement('div');

        hiddenDiv.style.position = 'absolute';
        hiddenDiv.style.visibility = 'hidden';
        hiddenDiv.style.whiteSpace = 'nowrap';
        hiddenDiv.style.fontSize = fontSize + 'pt';
        hiddenDiv.style.fontFamily = fontFamily;
        hiddenDiv.textContent = text;
        document.body.appendChild(hiddenDiv);
        let textSize = {
            width: hiddenDiv.clientWidth,
            height: hiddenDiv.clientHeight
        };
        document.body.removeChild(hiddenDiv);
        return textSize;
    }

    function adjustFontSize() {
        const parent = document.getElementById('textParent');
        const text = document.getElementById('dataitem');
        let fontSize = 400.0;

        const dataName = document.getElementById('dataName');
        const dataValue1 = document.getElementById('dataValue1');
        const dataValue2 = document.getElementById('dataValue2');
        const dataComment = document.getElementById('dataComment');

        dataName.style.fontSize = '1pt';
        dataValue1.style.color = settingsGetColor();
        dataValue1.style.fontSize = '1pt';
        dataValue2.style.color = settingsGetColor();
        dataValue2.style.fontSize = '1pt';
        dataComment.style.fontSize = '1pt';

        let width = parent.clientWidth - 100;
        let height = parent.clientHeight - 150;
        let dataNameK = 3.0;
        let dataCommentK = 10.0;

        /*dataName.style.fontSize = fontSize / dataNameK + 'pt';
        dataValue1.style.fontSize = fontSize + 'pt';
        dataValue2.style.fontSize = fontSize + 'pt';
        dataComment.style.fontSize = fontSize / dataCommentK + 'pt';
        
*/
        let maxWidth = 1000000;
        let sumHeight = 1000000;
        while (maxWidth > width || sumHeight > height) {
            fontSize -= 5;
            let s1 = getTextSize(dataName.textContent, fontSize / dataNameK, dataName.style.fontFamily);
            let s2 = getTextSize(dataValue1.textContent, fontSize, dataName.style.fontFamily);
            let s3 = getTextSize(dataValue2.textContent, fontSize, dataName.style.fontFamily);
            let s4 = getTextSize(dataComment.textContent, fontSize / dataCommentK, dataName.style.fontFamily);
            maxWidth = Math.max(s1.width, s2.width, s3.width, s4.width);
            sumHeight = s1.height + s2.height + s3.height + s4.height;
            if (fontSize < 8) {
                break;
            }
            console.log(maxWidth, sumHeight, fontSize);
        }
        console.log(maxWidth, sumHeight, fontSize);
        console.log('---------------------------------')

        dataName.style.fontSize = fontSize / dataNameK + 'pt';
        dataValue1.style.fontSize = fontSize + 'pt';
        dataValue2.style.fontSize = fontSize + 'pt';
        dataComment.style.fontSize = fontSize / dataCommentK + 'pt';


    }

    this.OnResizeContainer = function () {
        adjustFontSize();
    }

    this.OnUpdateContent = function () {
        adjustFontSize();
    }

    this.SetViewData = function (data) {
        let item = JSON.parse(data)
        const dataName = document.getElementById('dataName');
        const dataValue1 = document.getElementById('dataValue1');
        const dataValue2 = document.getElementById('dataValue2');
        const dataComment = document.getElementById('dataComment');
        dataName.textContent = item.Name;
        dataValue1.textContent = item.Value1;
        dataValue2.textContent = item.Value2;
        dataComment.textContent = item.Comment;
        this.OnUpdateContent();
    }
</script>