    div.card_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #lightThemeContainer div.card_unit {
        display: inline-block;

        border-radius: 12px;
        font-weight: 400;
        margin: 10px;
        text-align: center;
        border-bottom: 1px solid #0098EA;
    }

    #darkThemeContainer div.card_unit {
        display: inline-block;

        border-radius: 12px;
        font-weight: 400;
        margin: 10px;
        text-align: center;
        border-bottom: 1px solid #0098EA;
    }

    #lightThemeContainer div.card_unit:hover {
        background-color: #dddddd;
    }

    #darkThemeContainer div.card_unit:hover {
        background-color: #222222;
    }

    #lightThemeContainer a.card_unit_link {
        color:#0374b1;
        text-decoration: none;
        text-underline-offset: 2px;
    }

    #darkThemeContainer a.card_unit_link {
        color:#65bded;
        text-decoration: none;
        text-underline-offset: 2px;
    }

    .widget {
        border: 0px solid #F00;
        border-radius: 10px;
    }

    div.card_content {
        padding: 0px;
        min-width: 0px;
        max-width: 1000px;
        min-height: 0px;
        max-height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    div.card_content_text {
        margin-top: 10px;
        font-size: 12pt;
        min-height: 50px;
        max-height: 50px;
    }
