<script>
    function adjustFontSize() {
        const contentDataParent = document.getElementById('contentDataParent');
        const contentData = document.getElementById('contentData');

        let fontSize = 288;
        contentData.style.fontSize = '5px';
        let height = contentDataParent.clientHeight;
        contentData.style.fontSize = fontSize + 'px';
        while (contentData.scrollWidth > contentDataParent.clientWidth || contentData.scrollHeight > height) {
            fontSize--;
            contentData.style.fontSize = fontSize + 'px';
        }
    }

    this.OnResizeContainer = function () {
        adjustFontSize();
    }

    this.OnUpdateContent = function () {
        adjustFontSize();
    }

    this.SetViewData = function (data) {
        const contentDataText = document.getElementById('contentDataText');
        contentDataText.textContent = data;
        this.OnUpdateContent();
    }

</script>
