<script>
    function adjustFontSize() {
        const fullHeightElement = document.getElementById('fullHeightElement');
        fullHeightElement.style.height = `${window.innerHeight}px`;
        const parent = document.getElementById('textParent');
        const text = document.getElementById('dataitem');
        let fontSize = 288;
        text.style.fontSize = '5px';
        let height = parent.clientHeight;
        text.style.fontSize = fontSize + 'px';
        while (text.scrollWidth > parent.clientWidth || text.scrollHeight > height) {
            fontSize--;
            text.style.fontSize = fontSize + 'px';
        }
    }

    this.OnResizeContainer = function () {
        adjustFontSize();
    }

    this.OnUpdateContent = function () {
        adjustFontSize();
    }

    this.SetViewData = function (data) {
        const text = document.getElementById('dataitem');
        text.textContent = data;
        this.OnUpdateContent();
    }

</script>
