<div id="textParent" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; text-align: center;">
    <div id="dataitem" style="display: block;" class="fontMono">
        <div style="border-bottom: 1px solid #555;">
            <span id="priceName"></span>
        </div>
        <div style="white-space: nowrap;">
            <span id="price1">---</span>
            <span id="price2">---</span>
        </div>
        <div style="border-top: 1px solid #555;">
            <span id="priceDT" style="font-size: 12pt; color:#555"></span>
        </div>
    </div>
</div>
