    div.card_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    div.card_unit {
        display: inline-block;

        border-radius: 12px;
        font-weight: 400;
        background-color: #272727;
        margin: 10px;
        text-align: center;
        border-bottom: 1px solid #0098EA;
    }
    div.card_unit:hover {
        background-color: #222222;
    }
    a.card_unit_link {
        color:#65bded;
        text-decoration: none;
        text-underline-offset: 2px;
    }
    a.card_unit_link:hover {
        color:#65bded;
    }
    div.card_content {
        padding: 6px;
        min-width: 120px;
        max-width: 120px;
        min-height: 140px;
        max-height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    div.card_content_text {
        margin-top: 10px;
        font-size: 12pt;
    }
    div.card_content_desc {
        margin-top: 10px;
        font-size: 0.8em;
        color: #999999;
    }
    img.card_content_image {
        max-width: 80px;
        width: 80px;
    }
