body {
    font-size: 14pt;
    margin: 0px;
    background-color: #333;
    font-family: 'Roboto';
}

div.contentTextContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}

div.contentText {
    max-width: 600px;
    padding: 10px;
    color: #AAA;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: #090;
    text-decoration: underline;
}

a.header {
    font-size: 24pt;
    color: #FFF;
    text-decoration: none;
}

a.header:hover {
    color: #090;
    text-decoration: none;
}

.fontMono {
    font-family: 'Roboto Mono';
    font-weight: 200;
}

.contentDataParent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
